<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }
  </style>
<body>
    <h1>My Favorites</h1>
    <div class = "d-flex flex wrap text-left overflow-scroll">
        <% for (player of players) {%>
            <div class = "p-3 m-2 border border-secondary border-2 bg-secondary rounded w-20">
                <a href="/favorite/remove/<%= player.id %>">Remove</a>
                <br>
                <%= player['id'] %>
                <br>
                <a style="color: black;" href="/players/show/<%= player.id %>">
                    <%= player['first_name'] %>
                    <%= player['last_name'] %>
                </a>
                <br>
                <%= player.team['abbreviation'] %>

            </div>
        <% }%>
    </div>
</body>

<!--
    <pre>
        <%= JSON.stringify(players,null,5) %>
    </pre>
-->