<h1>Players found</h1>
Here we want a ul list with the player name, team, position, ht, and wt
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Team</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
    </thead>
    
    <% if (players==null){%>
    
        No players found
      
    <% } else  if (players.length>0) { %>

        <% for (player of players) {
            %>
            <tr class="mb-2"> 
                <td>
                    <a href="/players/show/<%=player._id %>">
                    <%= player['first_name'] %>
                    <%= player['last_name'] %>
                    </a>
                </td>
                <td>
                    <strong> <%= player.team['full_name'] %></strong>
                </td>
                <td>
                    <%= player.position %>
                </td>
                <td>
                    <%= player.height_feet %>
                    <%= player.height_inches %>
                </td>
                <td>
                    <%= player.weight_pounds %>
                </td>
            </tr>
            <% } %>
        <% } %>
    </tbody>
</table>